*{
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(146, 120, 120);
    align-items: center;
    justify-content: center;
}
.container {
    text-align: center;
}

.Landing-Page{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url("..\\..\\market-maven\\public\\anastasia-saldatava-5feMqpVOc-s-unsplash.jpg");
    background-size: cover;
    background-position: center;
    padding-left: 1rem;
    height: 100vh;
    display: flex;
}

h1 {
    text-align: left;
    vertical-align: center;
    font-weight: 200;
    font-size: 5rem;
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.NavBar {
    background-color: white;
    color:rgb(67,42,54);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 1.5rem;
    padding: 2rem;

    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}
.site-title{
    font-size: 1.5rem;
}
.NavBar ul {
    padding: 3px;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}
.NavBar li {
    padding: 3px;
}
.NavBar li.active{
    background-color: rgb(146, 120, 120);
    color: white;
    border-radius: 10px;
    padding: 3px;
}
.NavBar li:hover{
    background-color: rgb(42, 172, 135);
    border-radius: 10px;
    padding: 3px;
}

.NavBar a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}