*{
    box-sizing: border-box  ;
}

body {
    margin: 0  ;
    border: 0  ;
    padding: 0  ;
    background-color: white;
    align-items: center;
    justify-content: center;
}
.container {
    text-align: center;
    margin: 0  ;
    padding: 0  ;
}

.Landing-Page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("anastasia-saldatava-5feMqpVOc-s-unsplash.jpg");
    background-size: cover  ;
    background-position: center  ;
    padding-left: 1rem;
    height: 100vh;
    display: flex  ;

    align-items: flex-end; /* Add this line */
    justify-content: flex-start  ; /* Add this line */
    padding-bottom: 2rem; /* Add this line */
}

h1 {
    text-align: left; 
    vertical-align: center  ;
    font-weight: 200  ;
    font-size: 3rem; /* Adjust the font size as desired */
    color: white;
    font-family: "Inter", sans-serif  ;
    font-optical-sizing: auto;
    font-style: normal;
    margin-bottom: 0;
}